<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">


<!--    this is must to use autowired annotation-->
    <context:annotation-config />

    <bean class="com.broadfaster.autowire.annotation.Address" name="tempAddress">
        <property name="city" value="Dehradun" />
    </bean>

    <bean class="com.broadfaster.autowire.annotation.Student" name="student1">
    </bean>


</beans>
